<template>
    <div>
        <loading loader="dots" :active.sync="isLoading" :can-cancel="false"></loading>

        <div v-if="access">
            <div id="app" class="container">

                <div class="input-group mb-3 mt-5">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">عنوان</span>
                    </div>
                    <input v-model="title" type="text" class="form-control">
                </div>

                <summernote
                        :errors="errors"
                        id="summernote"
                        name="editor"
                        :model.sync="content"
                        v-on:change="value => { content = value }"
                ></summernote>

                <div class="tags-sb row mt-5">
                    <div class="col-6">
                        <label class="typo__label">برچسب ها</label>
                        <multiselect deselectLabel="پاک کردن" selectLabel="انتخاب کردن" v-model="value" :options="options"
                                     :multiple="true"
                                     :close-on-select="false" :clear-on-select="false" :preserve-search="true"
                                     placeholder="برچسب ها رو انتخاب کن" label="name" track-by="name"
                        >
                            <template slot="selection" slot-scope="{ values, search, isOpen }"><span
                                    class="multiselect__single"
                                    v-if="values.length &amp;&amp; !isOpen">برچسب انتخاب شد {{ values.length }} </span>
                            </template>
                        </multiselect>
                        <!--<pre class="language-json"><code>{{ value  }}</code></pre>-->
                    </div>
                    <div class="col-6">
                        <label class="typo__label">دسته بندی</label>
                        <multiselect v-model="value_cat" deselectLabel="پاک کردن" selectLabel="انتخاب کردن"
                                     :options="options_cat" placeholder="یک دسته بندی انتخاب کن" label="name"
                                     track-by="name"></multiselect>
                        <!--<pre class="language-json"><code>{{ value_cat  }}</code></pre>-->
                    </div>
                </div>
                <div v-if="saved"  class="mt-2">
                    <div  class="alert alert-success" role="alert">
                        <p>
                          تبریک ! مقاله شما با موفقیت در سایت منتشر شد.
                        </p>
                    </div>

                </div>
                <div v-if="errors.length"  class="mt-2">
                    <div  class="alert alert-danger" role="alert">
                        <p v-for="error in errors">
                            {{ error }}
                        </p>
                    </div>

                </div>
                <!--<input type="file" name="image" class="form-control" @change="imagePreview($event)" id="imageTitle">-->

                <div class="preview_box">
                    <label class="label" for="imageTitle">Please upload a picture !</label>
                    <img src="" id="uploadImg" width="100">
                    <div class="input">
                        <input name="input" @change="imagePreview($event)" id="imageTitle"  type="file">
                    </div>
                </div>
                <button type="button" @click.prevent="resetInput">reset</button>

                <button type="button" @click.prevent="save" class="btn btn-primary float-left mt-3 mb-3">Save</button>
            </div>
        </div>
        <div v-if="noAccess">
            <p>you cant</p>
        </div>
    </div>

</template>
<script>
    const $ = require('jquery')
    window.$ = $
    import Multiselect from 'vue-multiselect'
    import Summernote from '../components/Summernote.vue'
    // Import component
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    export default {
        data() {
            return {
                photo_path: null,
                saved: false,
                title: '',
                image:'',
                errors: [],
                value_cat: null,
                options_cat: [],
                content: '',
                value: null,
                isLoading: true,
                access: false,
                noAccess: false,
                categories: null,
                options: [],
                config: {
                    height: 100,
                    toolbar: [
                        // [groupName, [list of button]]
                        ['style', ['bold', 'italic', 'underline', 'clear']],
                        ['font', ['strikethrough', 'superscript', 'subscript']],
                        ['fontsize', ['fontsize']],
                        ['color', ['color']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['insert', ['gxcode']], // plugin config: summernote-ext-codewrapper
                    ],
                },
            }
        },
        components: {
            Summernote, Multiselect ,Loading
        },
        created() {
            this.callFunction()
        },
        methods: {
            resetInput(){
                let vm = this;
                $("#imageTitle").val('')
                vm.image = '';
                vm.photo_path = '';
            },
            imagePreview(event) {
                let vm = this;
                let format = ['image/png' ,'image/jpg' , 'image/jpeg']
                let selectedFile = event.target.files[0];
                var File_Type = selectedFile.type;
                if(File_Type === "image/png"|| File_Type === "image/jpg" ||File_Type ==="image/jpeg"){
                       vm.image = selectedFile;
                    vm.errors= [];
                    vm.$root.refreshToken(function (response) {
                            if (response){
                                vm.submitForm(function (resp) {
                                    if (resp){
                                        vm.input(resp);
                                    }
                                });
                            }})

                    // vm.submitForm()

                    return true;


                }else{
                    this.resetInput()
                    vm.errors.push("File should be in png format.");
                }
            },

            submitForm(callback){
                let vm = this;
                let fomrData = new FormData();
                fomrData.append('image', vm.image);
                axios.post('/api/image/title', fomrData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                    .then(response => {
                        console.log(response);
                        vm.photo_path = response.data
                        callback(response.data)
                    })
                    .catch(e => {
                        console.log(e);
                    });
            },

            checkForm: function (e) {
                this.errors = [];
                this.saved = false;
                if (!this.title) {
                    this.errors.push("موضوع نباید خالی باشد");
                }
                if (!this.content) {
                    this.errors.push("محتوا را پر کنید");
                }
                if (!this.value_cat) {
                    this.errors.push("یک دسته بندی انتخاب کنید");
                }
                if (!this.value) {
                    this.errors.push("برچسب ها را انتخاب کنید");
                }
                // if (!this.email) {
                //     this.errors.push('Email required.');
                // } else if (!this.validEmail(this.email)) {
                //     this.errors.push('Valid email required.');
                // }

                if (!this.errors.length) {
                    return true;
                }

                e.preventDefault();
            },
            save(e) {
                let vm = this;
                if (vm.checkForm(e)) {
                    vm.isLoading = true;
                    vm.$root.refreshToken(function (response) {
                        if (response){
                            var tags = [];
                            vm.value.forEach(function (item) {
                                tags.push(item.id); // you push it to the array
                            });
                            axios.post('/api/save/content/article', {
                                body: vm.content,
                                title: vm.title,
                                tags: tags,
                                category_id: vm.value_cat.id,
                                photo_path:vm.photo_path
                            })
                                .then(resp => {
                                    console.log(resp);
                                    vm.saved = true;
                                    vm.title = null
                                    vm.value_cat = null
                                    vm.value = [];
                                    vm.resetInput();
                                    // $('#summernoteee').code('');
                                    // vm.$emit('update:model', $('#summernoteee').summernote(''));
                                    $('#summernote').summernote('code', '');
                                    vm.isLoading = false;
                                })
                                .catch(error => {
                                    console.log(error);
                                })
                            // if (vm.image){
                            //     vm.submitForm(function (photo_path) {
                            //         vm.saveContent(photo_path)
                            //     })
                            // } else {
                            //     vm.saveContent()
                            // }
                        }
                        else {
                            vm.isLoading = false;
                        }
                    })
                }

            },
            getAllTags() {
                let vm = this;

                axios.post('/api/get/all/tags')
                    .then(resp => {
                        vm.options = resp.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            saveContent(photo_path) {
                let vm = this;
                var tags = [];
                vm.value.forEach(function (item) {
                    tags.push(item.id); // you push it to the array
                });
                axios.post('/api/save/content/article', {
                    body: vm.content,
                    title: vm.title,
                    tags: tags,
                    category_id: vm.value_cat.id,
                    photo_path:photo_path
                })
                    .then(resp => {
                        console.log(resp);
                        vm.saved = true;
                        vm.title = null
                        vm.value_cat = null
                        vm.value = [];
                        vm.resetInput();
                        // $('#summernoteee').code('');
                        // vm.$emit('update:model', $('#summernoteee').summernote(''));
                        $('#summernote').summernote('code', '');
                        vm.isLoading = false;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            getAllCategory() {
                let vm = this;

                axios.post('/api/get/all/category')
                    .then(resp => {
                        vm.options_cat = resp.data;
                        vm.isLoading = false;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            callFunction(){
                var vm = this;
                vm.$root.refreshToken(function (response) {
                    if (response){
                        vm.$root.can('publish articles' , function (resp) {
                            if (resp){
                                vm.access = true
                            } else {
                                vm.access = false
                            }
                        })
                        vm.getAllTags();
                        vm.getAllCategory()
                    }
                    else {
                        vm.noAccess = true;
                        vm.isLoading = false;
                    }


                })
            },
            input(res){
                console.log(res)
                var container = $('.preview_box'), inputFile = $('#imageTitle'), img, btn, txt = 'Browse', txtAfter = 'Browse another pic';
                //
                // if(!container.find('#upload').length){
                //     container.find('.input').append('<input type="button" value="'+txt+'" id="upload">');
                //     btn = $('#upload');
                    img = $('#uploadImg');
                    img.attr('src', res).animate({opacity: 1}, 700);
                // }
                //
                // btn.on('click', function(){
                //     img.animate({opacity: 0}, 300);
                //     inputFile.click();
                // });
                //
                // inputFile.on('change', function(e){
                //     container.find('label').html( inputFile.val() );
                //
                //     var i = 0;
                    // for(i; i < e.originalEvent.srcElement.files.length; i++) {
                    //     var file = e.originalEvent.srcElement.files[i],
                    //         reader = new FileReader();

                        // reader.onloadend = function(){
                            // img.attr('src', 'idsmds.png').animate({opacity: 1}, 700);
                        // }
                        // reader.readAsDataURL(file);
                        // img.removeClass('hidden');
                    // }
                //
                //     btn.val( txtAfter );;
            }
        },


        // validEmail: function (email) {
        //     var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        //     return re.test(email);
        // }

    }
</script>
<style scoped>
    @import "~vue-multiselect/dist/vue-multiselect.min.css";
    label {
        display: block;
        max-width: 200px;
        margin: 0 auto 15px;
        text-align: center;
        word-wrap: break-word;
        color: #1a4756;
    }
    .hidden,
    #uploadImg:not(.hidden) + label {
        display: none;
    }
    #file {
        display: none;
        margin: 0 auto;
    }
    #upload {
        display: block;
        padding: 10px 25px;
        border: 0;
        margin: 0 auto;
        font-size: 15px;
        letter-spacing: 0.05em;
        cursor: pointer;
        background: #216e69;
        color: #fff;
        outline: none;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    #upload:hover,
    #upload:focus {
        background: #1AA39A;
    }
    #upload:active {
        background: #13D4C8;
        -webkit-transition: 0.1s ease-in-out;
        transition: 0.1s ease-in-out;
    }
    img {
        display: block;
        margin: 0 auto 15px;
    }

</style>

