<template>
    <div>
        <loading loader="dots" :active.sync="isLoading" :can-cancel="false"></loading>

        <div v-if="access">
            <table class="table">
                <thead>
                <tr>
                    <th><a href="">username</a></th>
                    <th><a href="">email</a></th>
                    <th><a href="">Edit role</a></th>
                    <th><a href="">role</a></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="user in users" :key="user.id">
                    <td>
                        {{ user.name }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td class="d-flex">
                        <div v-for="roles in allRoles.data" :key="roles.id">
                            <button @click="editRole(user ,roles.name )" type="button" class="btn btn-warning">
                                {{roles.name}}
                            </button>
                        </div>

                    </td>
                    <td v-for="role in user.roles" :key="role.id">
                        {{ role.name }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div v-if="noAccess">You cant.</div>
    </div>
</template>

<script>
    // Import component
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';

    const $ = require('jquery')
    window.$ = $
    export default {
        props: {
            loading: { type: Boolean }
        },
        data() {
            return {
                access: false,
                noAccess:false,
                users: [],
                role: [],
                allRoles: [],
                isLoading: true,
                fullPage: true
            }
        },
        components: {
            Loading
        },
        created() {
            this.callFunction()
        },
        methods: {
            getAllUsers() {
                // var token = JSON.parse(localStorage.getItem('token'));
                // axios.defaults.headers.common['Authorization'] = "Bearer " + token.value;
                let app = this;
                axios.post("/api/users").then((response) => {
                    app.users = response.data;
                    console.log(response);
                }).catch((response) => {
                    console.log(response)
                });
            },
            editRole(user, role) {
                var vm = this
                vm.isLoading = true;
                vm.$root.refreshToken(function (response) {
                    if (response){
                        axios.post(`/api/edit/role/${user.id}/${role}`).then((response) => {
                            console.log(response)
                            location.reload();
                        }).catch((err) => {
                            console.log(err)

                        })
                    }
                    else {
                        vm.isLoading = false;
                    }


                })

            },
            getAllRoles() {
                // var token = JSON.parse(localStorage.getItem('token'));
                // axios.defaults.headers.common['Authorization'] = "Bearer " + token.value;
                let app = this;
                axios.post("/api/get/roles").then((response) => {
                    console.log(response);
                    app.allRoles = response;
                    this.isLoading = false;

                }).catch((err) => {
                    console.log(err)
                })
            },
            callFunction() {
                var vm = this;
                vm.$root.refreshToken(function (response) {
                    if (response){
                        vm.$root.can('publish articles' , function (resp) {
                            if (resp){
                                vm.access = true
                            } else {
                                vm.access = false
                            }
                        })
                        vm.getAllUsers();
                        vm.getAllRoles();
                    }
                    else {
                        vm.noAccess = true;
                        vm.isLoading = false;
                    }


                })
            },


        },

    };
</script>


<style scoped>

</style>