<template>
    <div>
        <header>
            <div class="header__bg"></div>


            <div class="cover"  >
                <div  class="header-content">
                <div class="profile">
                    <img class="avatar" src="/images/img1-tn.jpg" alt="Alireza jafari"/>
                </div>

                    <div class="username">Alireza Jafari</div>
                    <div class="container">
                        <div class="navbar-container">
                            <ul>
                                <li class="nav-link ">
                                    <a v-if="!authenticated" href="/login">Login</a>
                                    <a v-else @click="logout">Logout ?</a>

                                    <div class="underline"></div>
                                </li>
                                <li class="nav-link">
                                    <a href="#project">my Project</a>
                                    <div class="underline"></div>
                                </li>
                                <li class="nav-link ">
                                    <a href="/articles">Article</a>
                                    <div class="underline"></div>
                                </li>
                                <li class="nav-link ">
                                    <a href="#contact">Contact Me</a>
                                    <div class="underline"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="title">
                            <h5>
                                <strong>Hi! My name is Alireza.</strong>
                            </h5>
                        </div>
                        <p>Welcome to my personal website</p>
                        <br/>
                        <p>I'm a web developer, of course, a beginner &#128517; So far I'm familiar with Html, CSS,
                            Javascript , vue ,
                            Larval and nodeJS and WordPress. After getting acquainted with Laravel and Vue ,
                            I decided to create my own site to make at least one example for myself.&#128526;</p>
                    </div>
                </div>
            </div>
        </section>
        <hr/>
        <section class="projects" id="project">
            <div class="container">
                <div class="col-md-12">
                    <div class="title">
                        <h5><strong>Projects Done</strong></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" v-for="project in data" :key="project.id">
                        <a :href=" project.link " class="card-link">
                            <div class="card">
                                <img class="card-img-top" :src=" project.thumbnail "
                                     alt="Card image cap">
                                <div class="card-block card-title">
                                    <h5>{{ project.title }}</h5>
                                </div>
                                <div class="card-block card-desc">
                                    <p>{{ project.description }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact" class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h5><strong>Contact Me</strong></h5>
                        </div>

                        <div class="contact-nav">
                            <ul class="nav justify-content-center">
                                <li class="nav-item">
                                    <a class="nav-link" href="https://www.facebook.com/myathtookhine" target="_blank">Facebook</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="https://www.instagram.com/myat_htoo_khine/"
                                       target="_blank">Instagram</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://twitter.com/myathtookhine"
                                       target="_blank">Twitter</a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    </div>
</template>
<script>
    export default {

        data() {
            return {
                data: [] ,
                authenticated:null
            }
        },
        created() {
            this.getProject();
            this.checkAuth();
        },
        methods: {
            getProject() {
                var app = this;
                axios.post('/api/project')
                    .then(function (response) {
                        console.log(response);
                        app.data = response.data;
                    })
                    .catch(function (error) {
                        console.log(error.response.data);
                    });
            } ,
            checkAuth() {
                var app = this;
                var jwt = localStorage.getItem('token');
                if(jwt) {
                    this.authenticated = true
                }
                else {
                    this.authenticated = false
                }
            },
            logout() {
                var app = this ;

                // var token =JSON.parse(localStorage.getItem('token'))
                // axios.defaults.headers.common['Authorization'] =  "Bearer " + token.value;

                if(confirm("Do you really want logout?")){
                    var token = JSON.parse(localStorage.getItem('token'));
                    axios.defaults.headers.common['Authorization'] = "Bearer " + token.value;
                    axios.delete('/api/logout')
                        .then(resp => {
                            console.log(resp);
                            localStorage.removeItem('token');
                            this.authenticated = false
                        })
                        .catch(error => {
                            console.log(error);
                        })
                }
            }

        }

    }
</script>
