<template>
    <div class="wrapper" v-bind:class="[{ 'form-success': success }]">
        <div class="container-warp">
            <h1>Welcome</h1>
            <div v-show="authenticated">
                <h1>You are login</h1>
            </div>
            <div v-show="!success && !authenticated">
                <form class="form" @submit.prevent="login" >
                    <input type="text" placeholder="Email" v-model="email">
                    <input type="password" placeholder="Password" v-model="password">
                    <button type="submit" id="login-button">Login</button>
                </form>
                <div>
                    <p class="text-danger">{{ messages.message }}</p>
                </div>
                <div>
                    <p class="text-redirect">
                        Don't have an account?<a class="font-weight-bold" href="/register">Make it right now</a>
                    </p>
                </div>
            </div>
        </div>

        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                messages: [],
                email: '',
                password: '',
                authenticated: false,
                success: false
            }
        },
        created() {
            this.checkAuth();
        },
        methods: {

            login() {

                var app = this;
                axios.post('/api/login', {
                    password: app.password,
                    email: app.email,
                })
                    .then(function (response) {
                        // console.log(response.data.access_token);
                        app.messages = response.data;
                        const myDate = new Date();
                        let exp =response.data.expires_in;
                        myDate.setHours( myDate.getHours() + exp / (60*60) );
                        // app.$cookie.set('token', response.data.access_token , { expires: myDate});
                        // const expiresAt = moment().add(response.data.expires_in, 'second');
                        // localStorage.setItem('token',  response.data.access_token );
                        var item = {
                            value: response.data.access_token,
                            expiry: myDate
                        };
                        console.log(item);

                        localStorage.setItem('token', JSON.stringify(item));
                        axios.defaults.headers.common['Authorization'] =  "Bearer " + item.value;
                        app.authenticated = true;
                        app.success = true
                    })
                    .catch(function (error) {
                        console.log(error.response);
                        // app.messages = error.response;

                    });

            },
            checkAuth() {
                var app = this;
                var jwt = app.$cookie.get('token');
                if (jwt) {
                    this.authenticated = true
                } else {
                    this.authenticated = false
                }
            },
        }
    }
</script>

<style scoped>

</style>