<template>
        <div class="wrapper" v-bind:class="[{ 'form-success': success }]">
            <div class="container-warp">
                <h1>Welcome</h1>
                <div v-show="!success">
                    <form class="form" @submit.prevent="register">
                        <input type="text" placeholder="Name" v-model="name">
                        <input type="text" placeholder="Email" v-model="email">
                        <input type="password" placeholder="Password" v-model="password">
                        <button type="submit" id="register-button">Login</button>
                    </form>
                    <div>
                        <p class="text-danger">{{ messages.message }}</p>
                    </div>
                    <div>
                        <p class="text-redirect">
                            Don you have an account?<a class="font-weight-bold" href="/login">Login right now</a>
                        </p>
                    </div>
                </div>
            </div>
            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
</template>

<script>
    export default {
        data() {
            return {
                messages: [],
                name: '',
                email: '',
                password: '',
                success: false,
            }
        },
        methods: {
            register() {
                var app = this;
                axios.post('/api/register', {
                    name: app.name,
                    password: app.password,
                    email: app.email,
                })
                    .then(function (response) {
                        console.log(response);
                        app.messages = response.data;
                        const myDate = new Date();
                        let exp =response.data.expires_in;
                        myDate.setHours( myDate.getHours() + exp / (60*60) );
                        localStorage.setItem('token',  response.data.access_token );
                        var item = {
                            value: response.data.access_token,
                            expiry: myDate
                        };
                        console.log(item);
                        localStorage.setItem('token', JSON.stringify(item));
                        app.authenticated = true;
                        app.success = true
                    })
                    .catch(function (error) {
                        console.log(error.response.data);
                        app.messages = error.response.data;

                    });


            },
        },

    }

</script>
<style scoped>

</style>