<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Article</div>
                    <div class="card-body" v-html="body.body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                body:[]
            }
        },
        created() {
            this.getData()
        },
        methods:{
            getData(){
                var app = this;
                axios.get('/api/article/2')
                    .then(function (response) {
                        app.body = response.data.article ;
                            console.log(response.data.article);

                    })
                    .catch(function (error) {
                        console.log(error);
                        // app.messages = error.response;
                    });
            }
        }
    }
</script>

<style scoped>

</style>