<template>
    <textarea class="form-control"></textarea>
</template>
    <script>
    const $ = require('jquery')
    window.$ = $
    export default {
        props: {
            errors:{
                type: Array,
                default:[]
            },
            placeholder: {
                type: String,
                default: '',
            },
            model: {
                required: true
            },
            height: {
                type: String,
                default: '350'
            },
            toolbar: {
                type: Array,
                required: false,
                default: function () {
                    return [
                        ['style', ['bold', 'italic', 'underline', 'clear']],
                        ['fontsize', ['fontsize']],
                        ['color', ['color']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['insert', ['link', 'picture', 'video' ,'table']],
                        ['misc', ['fullscreen']]
                    ];
                }
            }
        },
        mounted() {
            let config = {
                placeholder: this.placeholder,
                height: this.height,
                toolbar: this.toolbar,
                disableDragAndDrop: true
            };
            let vm = this;
            config.callbacks = {
                onInit: function () {
                    $(vm.$el).summernote("code", vm.model);
                },
                onChange: function () {
                    vm.$emit('update:model', $(vm.$el).summernote('code'));
                },
                onImageUpload: function (images) {
                    // vm.isLoading = true;
                    vm.$root.refreshToken(function (response) {
                        if (response){
                        for (var i = 0; i < images.length; i++) {
                            var data = new FormData();
                            data.append("file", images[i]);
                            data.append("_token", $('meta[name="csrf-token"]').attr('content'));
                            const uploadUrl =  "/api/upload/images/article";
                            console.log(data);
                            var token = JSON.parse(localStorage.getItem('token'));
                            $.ajax({
                                url: uploadUrl,
                                processData: false,
                                contentType: false,
                                async: false,
                                cache: false,
                                data: data,
                                type: "POST",
                                enctype: 'multipart/form-data',
                                beforeSend: function (xhr) {
                                    xhr.setRequestHeader ("Authorization", "Bearer " + token.value);
                                },
                                success: function (response) {
                                    console.log(response);
                                    vm.$emit('update:model', $(vm.$el).summernote('insertImage',response));
                                    // vm.isLoading = false;
                                    vm.errors=[]
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    console.log('plase jpg');
                                    vm.errors.push("لطفا فقط عکس با فرمت های jpg,png,jpeg انتخاب کنید");
                                }
                            });
                        }
                        }
                    })
                    // var token = JSON.parse(localStorage.getItem('token'));
                    // axios.defaults.headers.common['Authorization'] = "Bearer " + token.value;

                },//
            };
            $(this.$el).summernote(config);
        }
    }

</script>
<style scoped>
    @import './summernote.css';
</style>